
.list {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}
.list p {
    background-color: black;
    color: white;
    width: 220px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    font-size: 20px;
    margin: 8px 0 0 0;
    font-weight: 600;
}
.list button {
    margin: 8px 0 0 0;
    width: 65px;
    border: none;
    height: 35px;
    border-radius: 6px;
}
